* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     
}

:root {
    --color-1: #bdd1f2;
    --color-2: #182e52;
    --color-3: cadetblue;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--color-1);
}

a{
    text-decoration: none;
}

h2{
    font-size: 35px;
}
/* header styling start*/
header{
    background-color: var(--color-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header h1 {
    color: var(--color-2);
    padding-left: 30px;
    background-color: var(--color-3);
    font-size: 45px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    list-style: none;
}

header nav ul li a {
    color: var(--color-3);
    border-bottom: 3px solid var(--color-3);
    padding: 5px;
    margin: 20px;
}

header nav ul li a:hover {
    border-bottom: none;
    border-radius: 10px;
    background-color: var(--color-1);
    color: var(--color-2);
}
/* header styling start*/

/* hero section styling start*/
.hero {
    background-image: url("../images/DSCN0898\ \(4\).JPG");
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero h2{
    position: absolute;
    bottom: 15px;
    right: 0;
    background-color: var(--color-3);
    padding-right: 30px;
    color: var(--color-2);
}
.hero img{
    width: 18%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px 15px black;
}
/* hero section styling start*/

/* About me styling start*/
.about-me{
    display: flex;
    justify-content: space-between;
}
.about-me-header{
    width: 20%;
    border-right: 3px solid var(--color-2);
}
.about-me-p{
    width:80%;
    margin-left: 25px;
    margin-right: 50px;
}

.about-me h2{
    color: var(--color-1);
    padding-left: 30px;
    background-color: var(--color-2);
    display: inline-block;
}
.about-me div{
    margin-top: 25px;
}
.about-me p {
    display: inline;
    color: var(--color-2);
}
/* About me styling end*/

/* Work section styling start*/
.work {
    display: flex;
    justify-content: space-between;
}

.work div{
    margin-top: 25px;
}

.work h2{
    color: var(--color-1);
    padding-left: 30px;
    background-color: var(--color-2);
    display: inline-block;
}
.work-header{
    border-right: 3px solid var(--color-2);
    width: 20%;
}

.work-links{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 25px;
    margin-right: 50px;
}

.work-links div{
    margin-top: 15px;
    opacity: 70%;
    position: relative;
    border: 5px solid var(--color-3);
}

.work-links div:hover{
    opacity: 100%;
}

.larger {
 width: 100%;
 height: 400px;
}

.smaller{
    width: 49%;
    height: 100px;
}

.larger article{
    background-color: var(--color-3);
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding-left: 20px;
}

.larger a img{
    height: 100%;
    width: 100%;
    opacity: 0;
}

.smaller article{
    background-color: var(--color-3);
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding-left: 20px;
}

.smaller a img{
    height: 100%;
    width: 100%;
    opacity: 0;
}
 
#link1{
    background-image: url("../images/12-tone_screenshot.png");
    background-position: top;
    background-size:cover;
}

#link2{
    background-image: url("../images/adopt-a-parrot_screenshot.png");
    background-position: top;
    background-size:cover;
}

#link3{
    background-image: url("../images/Robot-Gladiators_screenshot.png");
    background-position: center;
    background-size:cover;
}

#link4{
    background-image: url("../images/horiseon_screenshot.png");
    background-position: top;
    background-size:cover;
}

#link5{
    background-image: url("../images/run-buddy\ screenshot.png");
    background-position: top;
    background-size:cover;
}
/* Work section styling end*/

/* Contact section styling start*/
.contact-me{
    display: flex;
    justify-content:space-between;
}
.contact-me div {
    margin-top: 25px;
}
.contact-me ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}

.contact-me-header h2{
    color: var(--color-1);
    padding-left: 30px;
    background-color: var(--color-2);
    display: inline-block;
} 
.contact-me-header{
    width:20%;
    border-right: 3px solid var(--color-2);
    margin-bottom: 30px;
}

.contact-me-list{
    width: 80%;
    margin-left: 25px;
    margin-right: 50px;
}

.contact-me ul li {
    border-bottom: 2px solid var(--color-2);
    color: var(--color-2);
    font-weight: bold;
    padding: 5px;
}
.contact-link:hover{
    background-color: var(--color-3);
    border-bottom: none;
    border-radius: 10px;
} 
.contact-link a
{
    color: var(--color-2);
}

/* Contact section styling end*/


/* media queries*/
@media screen and (max-width: 980px) {

    .contact-me-header h2{
        font-size: 25px;
    }
    .hero img {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .contact-me-header h2{
        font-size: 20px;
    }
    .about-me h2{
        font-size: 20px;
    }
    .work h2{
        font-size: 20px;
    }
    .hero img {
        width: 35%;
    }
    #link1{
        background-position: left;
    }
}

@media screen and (max-width: 575px) {
    .about-me h2{
        font-size: 20px;
    }
    .work h2{
        font-size: 20px;
    }
    .hero img {
        width: 40%;
    }
    .work{
        flex-direction: column;
    }
    .work-header{
        border-right: none;
    }
    .work-links{
        flex-direction: column;
    }
    .smaller{
        width: 100%;
    }
    .contact-me{
        flex-direction: column;
    }
    .about-me{
        flex-direction: column;
    }
    .about-me-header{
        border-right: none;
    }
    .contact-me-header{
        border-right: none;
    }
}

